{% extends 'blog/base.html' %}

{% block content %}
    {% for post in page_obj %}
    <article class="post">
        <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
        <p>{{ post.description|linebreaksbr }}</p>
        <time class="date"><i>Published at </i>{{ post.published_date }}</time>
    </article>            
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% for page_number in page_obj.paginator.page_range %}
        <a href="{% url 'post_list' page=page_number %}" class="{% if page_number == page_obj.number %}current{% endif %}">
            {{ page_number }}
        </a>
    {% endfor %}
{% endblock %}