{% extends './base.html' %}
{% block content %}
    <h3><a>New Post</a></h3>
    <form action="." method="post" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-secondary">Submit</button>
    </form>
{% endblock %}