{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if user.is_authenticated %}
            <aside class="actions">
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-secondary">
                    {% include './icons/pencil-square.svg' %}
                </a>
            </aside>
        {% endif %}
        <h3><a>{{ post.title }}</a></h3>
        <p>{{ post.description|linebreaksbr }}</p>
        {% if post.published_date %}
            <time class="date"><i>Published at </i>{{ post.published_date }}</time>
        {% endif %}
    </article>     
{% endblock %}  