@import url('https://fonts.googleapis.com/css2?family=Pacifico');
body {
    background-color: peachpuff;
}

.page-header {
    background-color: #2e0875;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 20px 20px 20px 40px;
}

main {
    margin-top: 40px;
}

.pagination {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a{
    color: #2e0875;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #2e0875;
    border-radius: 10px;
    margin: 0 4px;
}

.pagination a.current{
    color: #ffffff;
    font-weight: bolder;
    background-color: #2e0875;
}

.pagination a:hover:not(.current){
    background-color: #2e0875;
    color: #ffffff;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1 a, h3 a {
    color: #096860;
    font-family: 'Pacifico', cursive;
}

.date {
    color: #000000;
    font-weight: bolder;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h3 a:not([href]):not([class]) {
    color: #2e0875;
    text-decoration: none;
}

.post h3 a:visited {
    color: #2e0875;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #2e0875;
    background: none;
    border-color: #2e0875;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #2e0875;
}

